<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="f" fileName="${specialfolder:folder=ApplicationData}/VB5250/${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} [${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}] [${ThreadId}]&#009;${message} ${exception:format=tostring}"
              archiveFileName="${specialfolder:folder=ApplicationData}/VB5250/log.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
      />
    </target>
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="IBM5250.*" minlevel="Warn" writeTo="asyncFile" />
    <logger name="Telnet.*" minlevel="Warn" writeTo="asyncFile" />
    <logger name="VB5250.*" minlevel="Warn" writeTo="asyncFile" />
    <logger name="IBMiClient.*" minlevel="Warn" writeTo="asyncFile" />

    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>